<form #form="ngForm" (ngSubmit)="checkValidation(email.invalid, password.invalid)">
  <div class="row email-input">
    <div class="input-field col s4 offset-s4">
      <input id="email" type="email" class="validate" #email="ngModel" [(ngModel)]="user.email"
             placeholder="type email">
      <label for="email">Email</label>
    </div>
  </div>
  <div class="row">
    <div class="input-field col s4 offset-s4">
      <input id="password" type="password" class="validate" #password="ngModel" [(ngModel)]="user.password"
             placeholder="type password">
      <label for="password">Password</label>
    </div>
  </div>
</form>
